{% extends 'base.html' %}

{% block content %}
<h1 class="container" style="align-content: center; ">Update Student</h1>
<br>
<div class="container" style="margin-left: 20%;">
<form method="POST">  
  {{ form.csrf_token }}
    <div>
      {{ render_field(form.firstname, placeholder= data.firstname, class="form-control input-sm form-control-lg is-invalid", style="height: 40px; width: 65%;") }}
    </div>
    <div>
      {{ render_field(form.lastname, placeholder=data.lastname, class="form-control input-sm form-control-lg is-invalid", style="height: 40px; width: 65%;") }}
    </div>
    <div>
      {{ render_field(form.gender, placeholder=data.gender, class="form-control input-sm form-control-lg is-invalid", style="height: 40px; width: 65%;") }}
    </div>
    <div>
      {{ render_field(form.code, placeholder=data.code, class="form-control input-sm form-control-lg is-invalid", style="height: 40px; width: 65%;") }}
    </div>
    <div>
      {{ render_field(form.year, placeholder=data.year, class="form-control input-sm form-control-lg is-invalid", style="height: 40px; width: 65%;") }}
    </div>
    <br>
    <input type="submit" value="Update" class="btn btn-primary">
    <a href="/" class="btn btn-default">Cancel</a>
</form>
</div>
	
{% endblock %}